@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
/* html {
  background-color: #e3e3e3;
}

body {
  background-color: #e3e3e3;
} */

/* .dark {
  html {
    background-color: #0c0c0c;
  }

  body {
    background-color: #0c0c0c;
  }
} */
.dark {
  background-color: #0c0c0c;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  padding: 0;
  /* cursor: none; */
  margin: 0;
}
/* General Styling*/
/*fonts*/
h1 {
  font-size: clamp(3.75rem, 5vw + 3.2rem, 8rem);
  @apply leading-none;
  /* font-size:clamp(3.125rem, 7vw + 2.5rem, 7.5rem); */
}
h2 {
  font-size: clamp(2rem, 4vw + 1rem, 4.063rem);
}
h3 {
  font-size: clamp(1.875rem, 7vw + 0.5rem, 6.25rem);
}
h4 {
  font-size: clamp(1.125rem, 0.5vw + 1rem, 1.563rem);
}
p {
  font-size: clamp(0.938rem, 1vw + 0.9rem, 1.875rem);
}
.p-text {
  font-size: clamp(0.938rem, 1vw + 0.9rem, 1.875rem);
}
.p-tiny-text {
  font-size: clamp(0.7rem, 0.5vw + 0.8rem, 1rem);
}
h6 {
  font-size: clamp(0.75rem, 0.3vw + 0.8rem, 1.25rem);
}
.h2 {
  font-size: clamp(0.938rem, 3vw + 0.5rem, 3.125rem);
}
.label-text {
  font-size: clamp(0.75rem, 0.5vw + 0.5rem, 1.25rem);
  font-weight: 600;
}
/*fonts*/
.screen-center {
  @apply container mx-auto w-[90%];
}
.zindex_1 {
  z-index: -1;
}
.zindex_2 {
  z-index: -2;
}
.zindex1 {
  z-index: 1;
}
.zindex2 {
  z-index: 2;
}
.zindex3 {
  z-index: 3;
}
.squada_text {
  font-family: var(--squada);
}
/* General Styling*/
.circle {
  width: clamp(7.813rem, 8vw + 6rem, 14.625rem);
  height: clamp(7.813rem, 8vw + 6rem, 14.625rem);
  background: rgba(12, 12, 12, 0.54);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform-origin: top center;

  @apply border-[2px] hover:bg-pri hover:border-[#FFFFFF] transition-all duration-500 hover:scale-150 dark:hover:bg-sec border-black dark:border-pri;
}
.circle::before {
  content: "";
  position: absolute;
}
.submit_btn {
  width: clamp(7.813rem, 8vw + 6rem, 14.625rem);
  height: clamp(7.813rem, 8vw + 6rem, 14.625rem);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply hover:bg-pri hover:dark:bg-black border-[2px]  border-black dark:border-pri;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.7;
  font-weight: 300;
}

.input,
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -khtml-border-radius: 0;
  -webkit-appearance: none;
  color: inherit;
}
textarea:focus,
input:focus {
  outline: none;
  @apply bg-sec text-pri dark:bg-pri dark:text-sec;
}
.input {
  @apply w-full  h-[30px] lg:h-[50px] p-text font-[500] border-sec dark:border-pri rounded-none outline-none  border-b-[2px] bg-transparent mt-2;
}
.input2 {
  @apply w-full h-full p-text font-[600] border-sec dark:border-pri rounded-none outline-none  border-b-[2px] bg-transparent mt-2;
}
.hamburger {
  @apply w-6 origin-center h-1 mt-1 rounded  transition duration-500;
}
/* .cursor {
  @apply border-sec dark:border-pri border pointer-events-none flex justify-center items-center h-[30px] w-[30px]  fixed z-20 rounded-full;
} */
.cursor {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
}
