.sphere {
  width: 357px;
  height: 357px;
  border-radius: 50%;
  z-index: -1;
  background: linear-gradient(rgba(227, 227, 227, 0.14), rgba(12, 12, 12, 0.5));
  fill: linear gradient#0C0C0C @0%;
}
@media only screen and (max-width: 668px) {
  .sphere {
    width: 170px;
    height: 170px;
  }
}
