.background {
  background: linear-gradient(
    79.93deg,
    rgba(12, 12, 12, 0.78) 1.32%,
    #e3e3e3 113.59%
  );
  background-transform: rotate(180deg);
  /* transform: rotate(180deg); */
}
.clip {
  clip-path: polygon(30% 0, 100% 0%, 70% 100%, 0% 100%);
}
